.card {
  margin-right: 25px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card {
  margin-bottom: 2em;
}

.card-recipie {
  height: 43vh !important;
  width: 85vw !important;
  margin-left: 30px;
}
