/* .content {
  margin-top: 144px;
} */

.content p {
  margin: 0;
  padding: 0;
}

header {
  background-color: #79a316;
  color: white;
  height: 9em;
}

.main-claim {
  line-height: 1.4;
  letter-spacing: 0.1em;
  margin-left: 1em;
  padding-top: 20px;
}

.products {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-list {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.recipies-list {
  background-color: #fff9e6;
  height: 74vh;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Roboot", sans-serif;
}
